apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: jobs
  namespace: todo-app
spec:
  type: bindings.cron
  version: v1
  metadata:
  - name: direction
    value: "input"
scopes:
- chat-api
- notification-service
