apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: secretstore
  namespace: todo-app
spec:
  type: secretstores.kubernetes
  version: v1
  metadata:
  - name: vaultName
    value: "app-secrets"
  - name: defaultNamespace
    value: "todo-app"
scopes:
- chat-api
- recurring-task-service
- notification-service
- frontend
